<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambitious">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ambitious">
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".JoinedActivity" />
        <activity android:name=".CreatedActivity" />
        <activity android:name=".VerifyAdmin" />
        <activity android:name=".RequestActivity" />
        <activity android:name=".RegisteredActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeBarActivity" />
        <activity android:name=".ItemPageActivity" />
        <activity android:name=".ScholarActivity" />
        <activity android:name=".SpeechActivity" />
        <activity android:name=".TechActivity" />
        <activity android:name=".TesActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SplashScreen4" />
        <activity android:name=".SplashScreen3" />
        <activity android:name=".SplashScreen2" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ContestActivity" />
        <activity android:name=".HomeAdminActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".EditContestActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SplashScreenMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>